@font-face {
  font-family: 'pt-sans';
  src: url('pt-sans.eot');
  src: url('pt-sans.eot?#iefix') format('embedded-opentype'),
      url('pt-sans.ttf') format('truetype'),
     url('pt-sans.svg#pt-sans') format('svg');
  font-style: normal;
  font-weight: normal;
}
